In [1]:
import csv
import pandas as pd
import numpy as np
import pandas as pd
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [2]:
# Read the based csv file
Base_df = pd.read_csv("/Users/akihi/Library/CloudStorage/OneDrive-PrincetonUniversity/Projects/MS Estimation/Results/MS_Estimation/Merged.csv")
Base_df

,Unnamed: 0,ID,BldType_True,BldType_Pred,FA_True_scaled,FA_Pred_scaled,FA_True,FA_Pred
0,1,6,1,1,-0.388363,0.335113,85.192051,134.862480
1,2,14,0,0,-1.629229,-1.545382,0.000000,5.756536
2,3,15,2,1,0.579161,0.272502,151.617696,130.563930
3,4,19,1,1,0.410014,-0.332573,140.004821,89.022289
4,5,20,1,1,0.035183,0.081607,114.270690,117.457938
...,...,...,...,...,...,...,...,...
16949,16950,84750,1,1,0.324763,-0.637317,134.151932,68.100003
16950,16951,84753,0,0,-1.629229,-1.502325,0.000000,8.712593
16951,16952,84755,1,1,-0.129905,-0.481008,102.936524,78.831474
16952,16953,84763,2,1,0.912043,0.274585,174.471834,130.706931
16953,16954,84764,1,2,1.085250,1.077211,186.363418,185.811509

In [3]:
# Create subgroup dataset
Non_R = Base_df[Base_df['BldType_True'] == 0]
SFH_df = Base_df[Base_df['BldType_True'] == 1]
MFH_df = Base_df[Base_df['BldType_True'] == 2]

# Check if I could sucessfully create the subsets
unique_Non_R = Non_R['BldType_True'].unique()
unique_SFH_df = SFH_df['BldType_True'].unique()
unique_MFH_df = MFH_df['BldType_True'].unique()
print("Unique values in Non_R:", unique_Non_R)
print("Unique values in SFH_df:", unique_SFH_df)
print("Unique values in MFH_df:", unique_MFH_df)

Unique values in Non_R: [0]
Unique values in SFH_df: [1]
Unique values in MFH_df: [2]

In [14]:
# Non_Residential
y_true_Non_R = Non_R['FA_True_scaled']
y_pred_Non_R = Non_R['FA_Pred_scaled']

y_true_Non_R_unscaled = Non_R['FA_True']
y_pred_Non_R_unscaled = Non_R['FA_Pred']

# Calculating MSE
mse = mean_squared_error(y_true_Non_R, y_pred_Non_R)

# Calculating RMSE
rmse = np.sqrt(mse)

# Calculating MAE
mae = mean_absolute_error(y_true_Non_R, y_pred_Non_R)

# Calculating R2 Score
r2 = r2_score(y_true_Non_R, y_pred_Non_R)

# Calculating error between total floor area
Dif = np.abs(np.sum(y_true_Non_R_unscaled) - np.sum(y_pred_Non_R_unscaled))
Error = (Dif/np.abs(np.sum(y_true_Non_R_unscaled))) * 100

# Printing the results
print("Mean Squared Error (MSE):", mse)
print("Root Mean Squared Error (RMSE):", rmse)
print("Mean Absolute Error (MAE):", mae)
print("R-squared (R2):", r2)
print("Error between total floor area:", Error)

Mean Squared Error (MSE): 0.8857712785998588
Root Mean Squared Error (RMSE): 0.9411542267874372
Mean Absolute Error (MAE): 0.7299839897148872
R-squared (R2): -1.3130539944491493
Error between total floor area: 448.0583930061878

In [17]:
# SFH
y_true_SFH_df = SFH_df['FA_True_scaled']
y_pred_SFH_df = SFH_df['FA_Pred_scaled']

y_true_SFH_df_unscaled = SFH_df['FA_True']
y_pred_SFH_df_unscaled = SFH_df['FA_Pred']

# Calculating MSE
mse = mean_squared_error(y_true_SFH_df, y_pred_SFH_df)

# Calculating RMSE
rmse = np.sqrt(mse)

# Calculating MAE
mae = mean_absolute_error(y_true_SFH_df, y_pred_SFH_df)

# Calculating R2 Score
r2 = r2_score(y_true_SFH_df, y_pred_SFH_df)

# Calculating error between total floor area
Dif = np.abs(np.sum(y_true_SFH_df_unscaled) - np.sum(y_pred_SFH_df_unscaled))
Error = (Dif/np.abs(np.sum(y_true_SFH_df_unscaled))) * 100

# Printing the results
print("Mean Squared Error (MSE):", mse)
print("Root Mean Squared Error (RMSE):", rmse)
print("Mean Absolute Error (MAE):", mae)
print("R-squared (R2):", r2)
print("Error between total floor area:", Error)

Mean Squared Error (MSE): 0.5911827111153214
Root Mean Squared Error (RMSE): 0.7688840687095301
Mean Absolute Error (MAE): 0.530980448963107
R-squared (R2): 0.20950237133552252
Error between total floor area: 1.6244767765515116

In [19]:
# MFH
y_true_MFH_df = MFH_df['FA_True_scaled']
y_pred_MFH_df = MFH_df['FA_Pred_scaled']

y_true_MFH_df_unscaled = MFH_df['FA_True']
y_pred_MFH_df_unscaled = MFH_df['FA_Pred']

# Calculating MSE
mse = mean_squared_error(y_true_MFH_df, y_pred_MFH_df)

# Calculating RMSE
rmse = np.sqrt(mse)

# Calculating MAE
mae = mean_absolute_error(y_true_MFH_df, y_pred_MFH_df)

# Calculating R2 Score
r2 = r2_score(y_true_MFH_df, y_pred_MFH_df)

# Calculating error between total floor area
Dif = np.abs(np.sum(y_true_MFH_df_unscaled) - np.sum(y_pred_MFH_df_unscaled))
Error = (Dif/np.abs(np.sum(y_true_MFH_df_unscaled))) * 100

# Printing the results
print("Mean Squared Error (MSE):", mse)
print("Root Mean Squared Error (RMSE):", rmse)
print("Mean Absolute Error (MAE):", mae)
print("R-squared (R2):", r2)
print("Error between total floor area:", Error)

Mean Squared Error (MSE): 1.1807534588026782
Root Mean Squared Error (RMSE): 1.0866248013011106
Mean Absolute Error (MAE): 0.8220321012134484
R-squared (R2): 0.25488119096051454
Error between total floor area: 5.76709513096528